In [1]:
%load_ext autoreload
%autoreload 2
import sys

from pathlib import Path
import pandas as pd

from google_sheets_api import post_df_as_sheet_values

# Create a df with the sample ids.

In [2]:
# 1. ambient. 3 wines, 3 replicates of each wine, 3 columns 'storage_type', 'wine', 'rep num'. Shape = 9 x 3

ambient_cond_df = pd.DataFrame()

ambient_cond_df['storage_type'] = ['a']*9
ambient_cond_df['wine'] = ['01']*3 + ['02']*3 + ['03']*3
ambient_cond_df['rep_num'] = [str(num).zfill(2) for num in range(1,4)]*3

ambient_cond_df

  storage_type wine rep_num
0            a   01      01
1            a   01      02
2            a   01      03
3            a   02      01
4            a   02      02
5            a   02      03
6            a   03      01
7            a   03      02
8            a   03      03

In [3]:
# 2. freezer, type 'b', 3 wines, 14 replicates for each wine = 42 rows

n_freezer_df = pd.DataFrame()

n_freezer_df['storage_type'] = ['n']*42
n_freezer_df['wine']=['01']*14 + ['02']*14+['03']*14
n_freezer_df['rep_num'] = [str(num).zfill(2) for num in range(1,15)]*3

n_freezer_df

   storage_type wine rep_num
0             n   01      01
1             n   01      02
2             n   01      03
3             n   01      04
4             n   01      05
5             n   01      06
6             n   01      07
7             n   01      08
8             n   01      09
9             n   01      10
10            n   01      11
11            n   01      12
12            n   01      13
13            n   01      14
14            n   02      01
15            n   02      02
16            n   02      03
17            n   02      04
18            n   02      05
19            n   02      06
20            n   02      07
21            n   02      08
22            n   02      09
23            n   02      10
24            n   02      11
25            n   02      12
26            n   02      13
27            n   02      14
28            n   03      01
29            n   03      02
30            n   03      03
31            n   03      04
32            n   03      05
33            n   03      06
34            n   03      07
35            n   03      08
36            n   03      09
37            n   03      10
38            n   03      11
39            n   03      12
40            n   03      13
41            n   03      14

In [4]:
ex_freezer_df = pd.DataFrame()
ex_freezer_df['storage_type'] = ['e']*21
ex_freezer_df['wine'] = ['01']*7 +['02']*7 + ['03']*7
ex_freezer_df['rep_num'] = [str(num).zfill(2) for num in range(1,8)]*3
ex_freezer_df

   storage_type wine rep_num
0             e   01      01
1             e   01      02
2             e   01      03
3             e   01      04
4             e   01      05
5             e   01      06
6             e   01      07
7             e   02      01
8             e   02      02
9             e   02      03
10            e   02      04
11            e   02      05
12            e   02      06
13            e   02      07
14            e   03      01
15            e   03      02
16            e   03      03
17            e   03      04
18            e   03      05
19            e   03      06
20            e   03      07

In [5]:
exp_df = pd.concat([ambient_cond_df, n_freezer_df,ex_freezer_df])
exp_df

   storage_type wine rep_num
0             a   01      01
1             a   01      02
2             a   01      03
3             a   02      01
4             a   02      02
..          ...  ...     ...
16            e   03      03
17            e   03      04
18            e   03      05
19            e   03      06
20            e   03      07

[72 rows x 3 columns]

In [6]:
exp_df = exp_df.astype(pd.StringDtype())

exp_df['key'] = exp_df['storage_type'] + exp_df['wine'] + exp_df['rep_num']
exp_df['key']

0     a0101
1     a0102
2     a0103
3     a0201
4     a0202
      ...
16    e0303
17    e0304
18    e0305
19    e0306
20    e0307
Name: key, Length: 72, dtype: string

In [13]:
import os

post_df_as_sheet_values(exp_df, '15S2wm8t6ol2MRwTzgKTjlTcUgaStNlA22wJmFYhcwAY', "wine_deg_sample_tracker!A1:H200", '/Users/jonathan/wine_analysis_hplc_uv/agilette/modules/credientals_tokens/')

{'spreadsheetId': '15S2wm8t6ol2MRwTzgKTjlTcUgaStNlA22wJmFYhcwAY',
 'updatedRange': 'wine_deg_sample_tracker!A1:D73',
 'updatedRows': 73,
 'updatedColumns': 4,
 'updatedCells': 292}